<nav class="navbar navbar-expand-lg navbar-color">
  <a class="navbar-brand" href="#">Teacher's Portal</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <a class="icon">
      <div
        class="container"
        (click)="barChange()"
        [ngClass]="{ change: change }"
      >
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </a>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="onHomeClick()"
          [ngClass]="{ dashboardtabactive: selectedTab === 'home' }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="onLibraryClick()"
          [ngClass]="{ dashboardtabactive: selectedTab === 'library' }"
          >Library</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="onUsersClick()"
          [ngClass]="{ dashboardtabactive: selectedTab === 'users' }"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="onGroupsClick()"
          [ngClass]="{ dashboardtabactive: selectedTab === 'groups' }"
          >Groups</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="onAnalyticsClick()"
          [ngClass]="{ dashboardtabactive: selectedTab === 'analytics' }"
          >Analytics</a
        >
      </li>
    </ul>

    <div class="nav-item">
      <div class="user-details">Welcome {{ _storageSvc.getUsername() }}</div>
      <a class="nav-link logout" (click)="onLogoutClick()">LogOut</a>
    </div>
  </div>
</nav>
